{% extends 'base.html' %}
{% load static %}{% load humanize %}

{% block title %}
    <title>Clients</title>
{% endblock title %}

{% block customer %}
<a class="sidebar__link active" href="{% url 'list_customer' %}">
{% endblock customer %}

{% block main %}
<div class="sales">

    <div class="user__container container grid">

        {% for customer in object_list  %}
        <a class="link" href="{{ customer.get_absolute_url }}">
            <div class="user__card">

                <div class="user__photo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    </svg>
                </div>

                <div class="user__details">
                    <span class="user__name">{{customer.name}}</span>
                    <span class="user__contact">{{customer.contact}}</span>
                </div>
                
            </div>
        </a>
        {% endfor %}

    </div>

    <a class="btn-rnd" href="{% url 'create_customer' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
    </a>

</div>
{% endblock main %}