{% extends 'base.html' %}


{% load static %}{% load humanize %}

{% block title %}
    <title>Clients</title>
{% endblock title %}

{% block customer %}
<a class="sidebar__link active" href="{% url 'list_customer' %}">
{% endblock customer %}

{% block main %}
<div class="user">
    <div class="user__form">

        <div class="delete">

            <h3>Supprimer Client</h3>

            <p>Voulez vous supprimer le client  <em>{{ object.name }}</em>?</p>
            
            <form method="POST">
                {% csrf_token %}
                <div class="add__buttons">
                    <a class="btn-sqr-lg btn-green" href="{{ customer.get_absolute_url }}">Annuler</a>
                    <input class="btn-sqr-lg btn-red" value="Oui, supprimer." type="submit">
                </div>
            </form>
            
        </div>
    </div>
</div>
{% endblock main %}