{% extends 'base.html' %}
{% load static %}{% load humanize %}

{% block title %}
    <title>Sales</title>
{% endblock title %}

{% block sale %}
<a class="sidebar__link active" href="{% url 'list_sale' %}">
{% endblock sale %}

{% block main %}


    <!-- ==== LIST OF SALES ==== -->
    <div class="sales">
        <table class="sales__table">
            <caption>Liste des ventes réalisées <a href="{% url 'list_sale_print' %}">Imprimer</a> </caption>
            
            <tr class="sales__headers">
                <th id='ref'>№ Facture</th>
                <th id='customer'>Client</th>
                <th id='number'>NOMBRE DE PRODUITS</th>
                <th id='amount'>Montant</th>
                <th id='category'>Catégorie</th>
                <th id='date'>Date de vente</th>
                <th id='seller'>Vendeur</th>
                {% if user.is_staff %}
                <th id='shop'>Boutique</th>
                {% endif %}
            </tr>

	

                

            {% for sale in object_list %}
                <tr tr onclick="window.location='{{ sale.get_absolute_url }}';">
                    <td>{{sale.bill_number}}</td>
                    <td>{{sale.customer}}</td>
                    <td>{{sale.items_number|intcomma}}</td>
                    <td>{{sale.total_amount|intcomma}}</td>
                    <td>{{sale.get_category_display}}</td>
                    <td>{{sale.date_created|date:"d-m-Y"}}</td>
                    <td>{{sale.added_by}}</td>
                    {% if user.is_staff %}
                    <td>{{sale.shop}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
	
    <tfoot>
        <tr>
            <td class="foot"></td>
            <td class="foot">Total</td>
            <td class="foot"></td>
            <td class="foot">{{total}}</td>
            <td class="foot"></td>
            <td class="foot"></td>
            <td class="foot"></td>
            <td class="foot"></td>
            <td class="foot"></td>
        </tr>
    </tfoot>
        </table>
    </div>

    <!-- Pagination -->
    <div class="pagination" style="display: flex; justify-content: center;">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Début</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if 'list' in request.resolver_match.url_name %} {{ request.get_full_path }}&page={{ page_obj.previous_page_number }} {% endif %}">précédent</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if 'list' in request.resolver_match.url_name %} {{ request.get_full_path }}&page={{ page_obj.next_page_number }} {% endif %}">suivant</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Fin &raquo;</a>
            {% endif %}
        </span>
    </div>
    
    
    <!-- ==== SALE'S INITIATION BUTTON ==== -->
    <a class="btn-rnd" href="{% url 'create_sale' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
    </a>

{% endblock main %}