.logo img {
    height: 100px;
    width: 100px;
    // background-color: var(--first-color);
    border-radius: 50%;
    // margin-bottom: 1rem;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}