{% extends 'base.html' %} 

{% block dashboard %}
<a class="sidebar__link active" href="{% url 'dashboard' %}">
{% endblock dashboard %}

{% block main %}
<a href="{% url 'dashboard_print' %}">Imprimer</a>
<div class="main__card-section">


    {% for category in object_list %}

    <div class="card bcolor">
        <div class="card__content">
            <div class="card__value">
                {{category.category_display}}
            </div>

            <div class="card__detail">
                <h3>
                Montant total du stock
                </h3>
                {% if category.warehouses_amount %} {{category.warehouses_amount}} {% else %} 0 {% endif %}FCFA
                
            </div>
        </div>

        <div class="card__content">
            <div class="card__detail">
                <h3>
                Vente du jour
                </h3>
                {% if category.solds_amount %} {{category.solds_amount}} {% else %} 0 {% endif %}FCFA
                
            </div>
            <div class="card__detail">
                <h3>
                Crédit du jour
                </h3>
                {% if category.solds_amount_credit %} {{category.solds_amount_credit}} {% else %} 0 {% endif %} FCFA
                
            </div>
        </div>

      

    </div>
    
    {% endfor %}

    <div class="card bcolor">
      

        <div class="card__content">
            <div class="card__value">
                Règlements du jour
            </div>
            <div class="card__detail">
                {% if billing_GP1.total_amount_paid %} {{billing_GP1.total_amount_paid}} {% else %} 0 {% endif %}FCFA
                
            </div>
        </div>

      

    </div>
    
</div>
{% endblock main %}