{% extends 'base.html' %}
{% load static %}{% load humanize %}

{% block title %}
    <title>Employés</title>
{% endblock title %}

{% block employee %}
<a class="sidebar__link active" href="{% url 'list_employee' %}">
{% endblock employee %}

{% block main %}
<div class="user">
    <div class="user__form">

        <div class="delete">

            <h3>Delete Employee</h3>

            <p>Voulez vous supprimer l'employé <strong><em>{{ object.user.first_name }} {{ object.user.last_name }}</em></strong>'s account ?</p>
            
            <form method="POST">
                {% csrf_token %}
                <div class="add__buttons">
                    <a class="btn-sqr-lg btn-green" href="{{ employee.get_absolute_url }}">Annuler</a>
                    <input class="btn-sqr-lg btn-red" value="Oui, supprimer." type="submit">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main %}